{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container py-5">

<h1>About</h1>

<p>

E-CarStart is a web-based Electric Vehicle (EV) Analytics platform designed to transform EV data into meaningful insights. Built using Flask, Python, Bootstrap, and Tableau, it provides interactive dashboards for analyzing charging infrastructure, driving range, battery performance, vehicle specifications, and brand comparisons. By combining data visualization with user-friendly design, E-CarStart enables users to explore EV trends, evaluate vehicle performance, and make informed decisions about sustainable transportation.

</p>

</div>

{% endblock %}